@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Jura');
@import url('https://fonts.googleapis.com/css?family=Bangers');


a {
    text-decoration: none;
}

body {
    background-image: url("images/space.png");
    background-size: 100% 100%;
    width: 1590px;
}

a {
    text-decoration: none;
}

header {
    font-family: 'Indie Flower', cursive;
    box-shadow: -7px 7px rgba(30,25,25, .3);
    background-image: url("images/feathers.png");
    background-color: rgba(15, 145, 150, 1);
    max-width: 25em;
    max-height: 7em; 
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    border-radius: 10px 10px 10px 0;
    overflow: visible;
}

#about {
    background-image: url("images/feathers.png");
    background-color: rgba(15, 145, 150, 1);
    background-size: cover;
    border-radius: 0 10px 10px 10px;
    width: 5em;
    height: 30em;
    box-shadow: -7px 7px rgba(30,25,25, .3);
    z-index: 0;
}

#logo {
    border-radius: 50%;
    left: 50px;
    width: 10em;
    height: 10em;
    box-shadow: -7px 5px rgba(30,25,25, .3);
    overflow: visible;
    z-index: initial;
}

#logo:hover, #logo:focus {
    animation-duration: 10s;
    animation-name: leftCircle;
}

@keyframes leftCircle {
    0%{transform:  rotate(360deg);}
    100%{transform: rotate(0deg);}
}


#overFlowDiv {
    position:relative;
}

#blurb {
    position: absolute;
    background-image: url("images/feathers.png");
    box-shadow: -7px 7px rgba(30,25,25, .3);
    width: 1350px;
    height: 450px;
    top: 100px;
    left: 150px;
    z-index: -2;
    text-align: center;
    background-color: #ff99bb;
    opacity: .9;
    font-size: 30px;
    text-align: left;
    font-family: 'Jura', sans-serif;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

#blurb div {
    padding: 15px;
}

#scroll-1 {
    animation-name: first;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes first {
    0%{transform: translateY(400px);}
    100%{transform: translateY(-600px);}
}

button {
    background-image: url("images/feathers.png");
    border: none;
    height: 70px;
    width: 260px;
    left: -210px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 28px;
    box-shadow: -7px 7px rgba(30,25,25, .3);
    transition: 0.3s;
    border-radius: 0 10px 10px 0;
    font-family: 'Jura', sans-serif;
}

button:hover, button:focus {
    background-color: #2980B9;
}

#navButton1{
    position:absolute;
    top:4em;
    background-color: red;
   
}

#navButton2{
    position:absolute;
    top: 7em;
    background-color: blue;
}

#navButton3{
    position:absolute;
    top: 10em;
    background-color: green;
    border-radius: 0 10px 10px 0;
}

#navButton4{
    position:absolute;
    top:13em;
    background-color: #FF8C00;
}

#overFlowDiv2 {
    overflow: hidden;
}

#right-frame-relative{
    position:relative;
}

#right-frame-absolute{
    position: absolute;
    box-shadow: -7px 7px rgba(30,25,25, .3);
    display:grid;
    grid-template-columns: 2em;
    background-image: url("images/feathers.png");
    background-color: rgba(15, 145, 150, 1);
    border-radius: 10px 10px 0 0;
    height: 8em;
    bottom: 4em;
    width: 3.5em;
    right: 50px;
    z-index: -3;
}

#right-frame-relative2{
    position:relative;
}

#right-frame-absolute2{
    position: absolute;
    box-shadow: -7px 7px rgba(30,25,25, .3);
    display:grid;
    grid-template-rows: 4em;
    background-image: url("images/feathers.png");
    background-color: rgba(15, 145, 150, 1);
    border-radius: 10px 0 10px 10px;
    height: 3.5em;
    bottom: .5em;
    width:15em;
    right: 50px;
    z-index: -3;
}

#top-frame-relative{
    position:relative;
}

#top-frame-absolute{
    position: absolute;
    box-shadow: -7px 7px rgba(30,25,25, .3);
    display:grid;
    grid-template-rows: 4em;
    background-image: url("images/feathers.png");
    background-color: rgba(15, 145, 150, 1);
    border-radius: 10px 10px 0 10px;
    text-align: center;
    font-family: font-family: 'Jura', sans-serif;
    font-size: 20px;
    color: white;
    height: 3.5em;
    top: -40px;
    width:12em;
    right: 50px;
    z-index: 1;
}

#top-frame-relative2{
    position:relative;
}

#top-frame-absolute2{
    position: absolute;
    box-shadow: -7px 7px rgba(30,25,25, .3);
    display:grid;
    grid-template-columns: 2em;
    background-image: url("images/feathers.png");
    background-color: rgba(15, 145, 150, 1);
    border-radius: 0px 0px 10px 10px;
    height: 100px;
    bottom: -8.1em;
    width: 3.5em;
    right: 50px;
    z-index: 1;
}

#github {
    position: absolute;
    top: 2em;
    left: .75em;
    background-color: red;
    border-radius: 50%;
}

#github:hover, #github:focus {
    animation-duration: 10s;
    animation-name: rightCircle;
}

@keyframes rightCircle {
    0%{transform: scale(1) rotate(0deg);}
    100%{transform: scale(1.5) rotate(360deg);}
}


